.booking-section {
    margin-top: 30px;
}
body{

    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
}
.booking-section h2{
    margin-left: 50%;
}
.movie {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-left: 5%;
}

.movie img {
    width: 120px;
    height: 180px;
    border-radius: 8px;
    margin-right: 20px;
    object-fit: cover;
}

.movie-details {
    flex: 1;
}

.movie h3 {
    margin: 0;
}

.movie p {
    margin: 5px 0;
    
}

.book-button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
}

.booking-card {
    margin-top: 30px;
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none;
}

.shopping-icon {
    position: fixed;
    top: 35px;
    right: 100px;
    font-size: 24px;
    color: #3498db;
    cursor: pointer;
}

.shopping-icon::before {
    content: attr(data-count);
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: red;
    color: white;
    border-radius: 100%;
    padding: 3px;
    font-size: 12px;
}

.shopping-list {
    list-style: none;
    padding: 0;
    margin-right: 10%;
}

.shopping-list li {
    margin-bottom: 5px;
    color: #ea0000;
}

.total-price {
    margin-top: 10px;
    font-weight: bold;
}

.dark-mode{
    background: black;
    color: white;
}

:root {
    --light: #d8dbe0;
    --dark: #28292c;
    --link: rgb(27, 129, 112);
    --link-hover: rgb(24, 94, 82);
  }

.toggle-switch {
    position: relative;
    width: 200px;
  }
  
  label {
    position: absolute;
    width: 100%;
    height: 100px;
    background-color: var(--dark);
    border-radius: 50px;
    cursor: pointer;
  }
  
  input {
    position: absolute;
    display: none;
  }
  
  .slider {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    transition: 0.3s;
  }
  
  input:checked ~ .slider {
    background-color: var(--light);
  }
  
  .slider::before {
    content: "";
    position: absolute;
    top: 13px;
    left: 16px;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    box-shadow: inset 28px -4px 0px 0px var(--light);
    background-color: var(--dark);
    transition: 0.3s;
  }
  
  input:checked ~ .slider::before {
    transform: translateX(95px);
    background-color: var(--dark);
    box-shadow: none;
  }

  a {
    position: relative;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    top: 150px;
    left: 10px;
    font-size: 10px;
    text-decoration: none;
    color: var(--link);
    font-weight: bold;
    text-align: center;
  }
  
  a:hover {
    color: var(--link-hover);
  }

  .dark{
    position: absolute;
    top: 10%;
    right: 10%;
  }