*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    color: white;
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer a  button {
    position: absolute;
    z-index: 1;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 2px;
    border: 1px rgba(0, 56, 255, 0.17);
    background: #4e535a;
    box-shadow: 0px 0px 0px 1px blue inset;
    color: #fff;
    margin-top:  40px;
    margin-left: 40px;
    height: 20px;
    width: 48px;
}

.backgroundimg{
    filter: brightness(60%);
}
.info{
    position: absolute;
    left: 10%;
    bottom: 56%;
    display: flex;
    gap: 10px;   

}

.info h2 {
    border-radius: 8px;
    border: 2px black;
    height: 30px;
    background: #322d2d;

}
 
.logo{
        position: absolute;
        left:10% ;
        bottom: 60%;
        gap: 10px;
        align-items: center;
        display: flex;
        flex: 1;
}

.logo h1 {
    font-size: 80px;
}
.trailer1{
    position: absolute;
    left: 65%;
    bottom: -10%;
}





.movie-features{
    display: flex;
    align-items: center;
    gap: 10px;
}






.reklam3 {
    background-image: linear-gradient(180deg, rgba(0, 56, 255, 0.17) 0%, rgba(0, 0, 0, 0.00) 100%),
                        linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0.98) 0.01%, rgba(0, 0, 0, 0.84) 78.18%, rgba(0, 0, 0, 0.00) 104.97%);
    display: flex;
    background-color: #000;
    justify-content: space-between;
    }
    
    .reklam-text {
        align-self: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;
    }
    
    .click-text {
        display: flex;
        align-items: center
    }
    
    .shining-border {
        position: relative;
        border-top: 3px solid transparent;
        border-image: linear-gradient(90deg, transparent, #00f, transparent);
        border-image-slice: 1;
        font-size: 24px;
    }