
body {
  & h2{
    text-align: center;
  }
  & main{
    & section{
      & article{
        & div{
          & .MORE{
          } 
           & button{

              margin-top: 125%;
              margin-left: 80%;  
            }
            & .MORE{
              margin-top: 150%;
              margin-left: 40%;
            }
            }       
        }
      }
    }
  
    & .nowplaying{
      
     margin-left: 5%;
  
      & div{
        display: flex;
        flex-flow: row wrap;
        
       & article{

        width: 25%;
        margin: 2rem;
       
        & a{
      
          & img{
            width: 100%;
            height: 60%;
          }
        }
        
       }
      }
    }
   

      
      
  

  background-color: white;
}

.dots, .dots ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
.dots {
  align-items: center;
  position: absolute;
  bottom: 5%;
  left: 45%;
  background: transparent;
  padding: 10px;

}
.dots li {
  margin: 0 10px;
}

.displayer {
  width: 15px;
  height: 15px;
  background-color: transparent;
  border: 1px solid #000;
  border-radius: 50%;
}

.displayer[aria-label="Current"] {
  background-color: #d0d8e0;
  color: #fff;
}

nav ul {
  display: flex;
  list-style-type: none;
  width: 1000px;
  height: 54px;
  max-width: 1728px;
  padding: 0 15px;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 2%;
  border-radius: 10px;
  background: rgba(50, 50, 50, 0.21);
  margin-left: 15%;
  color: #D7E7FF;
  text-align: center;
  font: 12.25px bold Arial, sans-serif;
  text-transform: uppercase;
}

nav a {
  text-decoration: none;
  color: inherit;
}


.backgroundimg {
  width: 100%;
  height: 100%;
}

.prev, .next {
  position: absolute;
  top: 50%;
}

.register {
  display: flex;
  width: 88px;
  height: 30px;
  padding: 8px 16px;
  flex-direction: column;
  align-items: center;
  border-radius: 24px;
  border: 0.5px solid #0B4FFE;
  background: rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 1px #0768AF inset;
  color: #D7E7FF;
  text-align: center;
  font: 12.25px Arial, sans-serif;
  text-transform: uppercase;
}

.mname a {
  position: absolute;
}

.poster1 {
  border-radius: 20px;
  border-bottom: 110px solid rgba(0, 0, 0, 0.80);
  width: 350px;
  max-width: 50%;
  height: 300px;
  background: url(/image/poster.jpeg) center/cover no-repeat;
  box-shadow: 0 4px 32px 0 #F00;
  object-fit: contain;
  position: absolute;
  top: 25%;
  left: 10%;
}

@media (max-width: 200px) {
  .poster1 {

    width: 1%;
    top: 1%;
    left: 5%;
  }
}

.buttons {
  display: flex;
  width: 140px;
  height: 50px;
  padding: 15px 16.81px 15px 16.8px;
  justify-content: space-between;
  align-items: flex-start;
  flex-shrink: 0;
}

.reklam3 {
  background-image: linear-gradient(180deg, rgba(0, 56, 255, 0.17) 0%, rgba(0, 0, 0, 0) 100%),
                  linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0.98) 0.01%, rgba(0, 0, 0, 0.84) 78.18%, rgba(0, 0, 0, 0));
}

.reklam-text, .click-text {
  color: #D7E7FF;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.shining-border {
  position: relative;
  border-top: 3px solid transparent;
  border-image: linear-gradient(90deg, transparent, #00f, transparent);
  border-image-slice: 1;
  font-size: 24px;
}
