*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-color: #0E0C0C;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer a  button {
    border-radius: 2px;
    border: 1px rgba(0, 56, 255, 0.17);
    background: rgba(0, 0, 0, 0.50);
    box-shadow: 0px 0px 0px 1px blue inset;
    color: #fff;
    margin-top:  20px;
    margin-left: 20px;
    height: 20px;
    width: 48px;
}

.container {
    margin-top: 16px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 64px;
}

.directorinfo {
    display: flex;
    align-items: center;
    padding-top: 10px;
    margin-top: 20px;
}
.directorinfo h3 {
    margin-right: 30px;
}

.topdirector .topdirectorinfo {
    display: flex;
    flex-direction: column;
}

.topdirector .topdirectorinfo img {
    margin-bottom: 20px;
}

.topdirector .topdirectorinfo .topdirector-name {
    align-self: center;
}

.dirmovies {
    display: flex;
    flex-direction: column;
}

.dirmovies h2{
    align-self: center;
    margin-bottom: 40px;
    margin-top: 4px;
}

.dirmovie {
    display: flex;
    gap: 32px;

}

.dirmovies .dirawards{
    margin-top: 40px;
    margin-bottom: 12px;
    align-self: center;
}


.glowing-border1 {
    border-radius: 2px;
    background: url(<path-to-image>), lightgray 36% / cover no-repeat;
    box-shadow: 0px 4px 12px 0px #0B4FFE;
}

.glowing-border2 {
    border-radius: 2px;
    background: url(<path-to-image>), lightgray 36% / cover no-repeat;
    box-shadow: 0px 4px 12px 0px #FFF;
}

.glowing-border3 {
    border-radius: 2px;
    background: url(<path-to-image>), lightgray 36% / cover no-repeat;
    box-shadow: 0px 4px 12px 0px #FFB800;
}

.reklam3 {
background-image: linear-gradient(180deg, rgba(0, 56, 255, 0.17) 0%, rgba(0, 0, 0, 0.00) 100%),
                    linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0.98) 0.01%, rgba(0, 0, 0, 0.84) 78.18%, rgba(0, 0, 0, 0.00) 104.97%);
display: flex;
justify-content: space-between;
}

.reklam-text {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.click-text {
    display: flex;
    align-items: center
}

.shining-border {
    position: relative;
    border-top: 3px solid transparent;
    border-image: linear-gradient(90deg, transparent, #00f, transparent);
    border-image-slice: 1;
    font-size: 24px;
}